<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 comments add_comment_area">
    <div class="commentsCnt">
      <a href="comments"></a>
      <h3>
        Комментарии ({{ book.comment.count }})
      </h3>
    </div>
    {% if user != null %}
      <div class="comment ">
          <div>
            {{ form_start(comment_form) }}
              {{ form_row(comment_form.commentText, {'attr': {'class': 'form-control'}}) }}
            {{ form_end(comment_form) }}
          </div>
      </div>
    {% else %}
        Только зарегистрированные пользователи могут оставлять комментарии
    {% endif %}
  </div>
  {% if comments is empty %}
      Нет комментариев
  {% endif %}

  <div class="col-md-12 col-sm-12 col-xs-12">
    <ul class="media-list">
      {% for comment in comments %}
        <li class="media">
          <div class="media-left">
            <img class="media-object img-circle avatar" src={% if comment.user.avatar == null %} "../{{ asset('img/avatar/noavatar.png') }}" {% else %} "{{ comment.user.avatar }}"{% endif %} alt="">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              {{ comment.user.name }}
              <span class="date_text">
                {{ comment.created|date("m/d/Y") }}
              </span>
            </h4>
            {{ comment.commentText|e|nl2br }}
            {% if admin or user.id == comment.user.id %}
                <a href="{{ path('delete_comment', {'idComment' : comment.id}) }}" class="btn btn-danger pull-right btn-sm">Удалить</a>
              {#<form action="actions/delete_comment.php" method="post">#}
                {#<input type="hidden" name="commentId" value="{{ comment.id }}">#}
                {#<input type="hidden" name="bookId" value="{{ comment.book_id }}">#}
                {#<button id="deleteBtn" type="submit" class="btn btn-danger pull-right btn-sm">Удалить</button>#}
              {#</form>#}
            {% endif %}
          </div>
        </li>
      {% endfor%}
    </ul>
  </div>
</div>