<div class="container">
    <div class="havbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
        </button>
        <a class="navbar-brand" href="{{ path('book_list') }}">AutoBook </a>
    </div>
    <div class="navbar-collapse collapse no_horizontal_scroll">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form navbar-left" role="search" action="{{ path('book_search') }}" method="get" autocomplete="off">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск книги" name="name" required/>
                    </div>
                    <button type="submit" class="btn btn-default">Поиск</button>
                </form>
            </li>
            <li>
                <a href="{{ path('book_list') }}">Главная страница</a>
            </li>
            <li>
                <a href="{{ path('area') }}">Личный кабинет</a>
            </li>
            <li>
                <a href="{{ path('book_top50') }}">Топ 50</a>
            </li>
        </ul>
    </div>
</div>
